# Ignore virtual environment
env/
venv/
.venv/

# Ignore Python cache files
__pycache__/
*.py[cod]
*.pyo

# Ignore Jupyter notebook checkpoints
.ipynb_checkpoints/

# Ignore OS-specific files
.DS_Store
Thumbs.db

# Ignore logs
*.log

# Ignore compiled files
*.so

# Ignore VS Code settings (optional)
.vscode/
